<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-reboot.css"/>

    <script src="static/jquery-3.3.1.js"></script>
    <script src="static/bootstrap/js/bootstrap.js"></script>
    <script src="static/mustache.js"></script>
</head>
<style>
    body {
        width: 960px;
        margin: 20px auto;
    }

    #status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 10px;
        background: #999;
    }

    #status.working {
        -webkit-animation: flash 1s infinite;
        -webkit-animation-direction: alternate;
    }

    #msg {
        max-height: 200px;
        overflow: auto;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 20px 0;
        padding: 5px 15px;
        background: #eee;
    }

    #msg li {
        margin: 5px 20px;
    }

    @-webkit-keyframes flash {
        from {
            box-shadow: 0 0 5px green;
            background: green;
        }
        to {
            box-shadow: 0 0 12px green;
            background: green;
        }
    }

    #game {
        height: 640px;
    }

    #game-table {
        min-width: 720px;
    }

    #game-table #sgs-table {
        height: 100%;
        flex: 1 0 40%;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #game-table .top,
    #game-table .middle,
    #game-table .bottom {
        height: 210px;
    }

    #game-table .sgs-player {
        width: 144px;
    }

    #game-table .sgs-player.is-you {
        width: 100%;
    }

    #game-table .sgs-player.sgs-dead {
        opacity: .5;
    }

    .sgs-player .sgs-player-hp,
    .sgs-player .sgs-hand-card-count {
        width: 2rem;
    }

    #game-table .sgs-player .sgs-player-card {
        cursor: pointer;
        width: 134px;
    }

    #game-table .sgs-player:not(.sgs-dead) .sgs-player-card:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .figure-candidate {
        height: 160px;
        width: 120px;
    }

    .figure-candidate > .card {
        cursor: pointer;
    }

    .figure-candidate > .card:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    }

    .sgs-card {
        width: 90px;
        height: 120px;
    }

    #sgs-card-panel .sgs-card {
        cursor: pointer;
    }

    .sgs-player:not(.sgs-dead) #sgs-card-panel .sgs-card:hover {
        margin-top: -20px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        height: 144px;
        width: 108px;
        z-index: 1;
    }

    #sgs-card-panel .sgs-card.sgs-card-selected,
    #sgs-card-panel .sgs-card.sgs-card-locked {
        top: -50px;
    }

    #sgs-action-panel {
        right: 5px;
        bottom: 5px;
        display: none;
    }

    #sgs-skill-panel {
        left: 144px;
        bottom: 5px;
    }

    .waiting #sgs-action-panel {
        display: block;
    }

    .sgs-card-suit-spade {
        color: #343a40 !important;
        text-shadow: 0 2px #fff, 2px 0 #fff, 0 -2px #fff, -2px 0 #fff;
    }

    .sgs-card-suit-club {
        color: #343a40 !important;
        text-shadow: 0 2px #fff, 2px 0 #fff, 0 -2px #fff, -2px 0 #fff;
    }

    .sgs-card-suit-heart {
        color: #dc3545 !important;
        text-shadow: 0 2px #fff, 2px 0 #fff, 0 -2px #fff, -2px 0 #fff;
    }

    .sgs-card-suit-diamond {
        color: #dc3545 !important;
        text-shadow: 0 2px #fff, 2px 0 #fff, 0 -2px #fff, -2px 0 #fff;
    }

    .sgs-card-suit-spade::before {
        content: "\2660";
    }

    .sgs-card-suit-club:before {
        content: "\2663";
    }

    .sgs-card-suit-heart:before {
        content: "\2665";
    }

    .sgs-card-suit-diamond:before {
        content: "\2666";
    }

    .sgs-equipment-symbol {
        letter-spacing: -0.35rem;
        display: inline-block;
        min-width: 0.7rem;
    }

    #game-message {
        overflow-y: auto;
    }
</style>
<body>

<section id="game-action">
    <button class="ready btn btn-outline-primary btn-sm d-none">Ready</button>
    <button class="cancel-ready btn btn-outline-primary btn-sm d-none">Cancel Ready</button>
    <div class="btn-group">
        <button class="ok btn btn-outline-primary btn-sm d-none">OK</button>
        <button class="cancel btn btn-outline-primary btn-sm d-none">Cancel</button>
    </div>
    <button class="quit btn btn-outline-primary btn-sm">Quit</button>
</section>

<section id="game" class="d-flex">
    <section id="game-table">
        <div class="top sgs-cl-children card-group">
        </div>
        <div class="middle card-group">
            <div id="sgs-table">
                <div id="feature-candidate-panel"
                     class="sgs-cl-children position-absolute w-100 h-100 d-inline-flex justify-content-around align-items-center"></div>
            </div>
        </div>
        <div id="sgs-player-panel" class="bottom mt-2 d-flex flex-row align-items-stretch position-relative">
        </div>
    </section>
    <section id="game-message" class="flex-grow-1">
        <ul id="sgs-message-list" class="sgs-cl-children d-block w-100">
        </ul>
    </section>
</section>

<div class="">
    <div class="form-row align-items-center">
        <div class="col-sm-10 my-1">
            <input type="text" id="message-input" class="form-control form-control-sm"/>
        </div>
        <div class="col-sm-2 my-1">
            <button class="btn btn-sm btn-primary" id="message-send">Send</button>
        </div>
    </div>
</div>

<div id="status"></div>
<button id="switch">开启</button>
<button id="clean">清空</button>
<ol id="msg"></ol>

<script src="client/constants.js"></script>
<script src="client/templates.js"></script>
<script src="client/cmd.js"></script>
<script>
    let dbg;

    class Debug {
        constructor() {
            this._switch = document.querySelector('#switch');
            this._clean = document.querySelector('#clean');
            this._msg = document.querySelector('#msg');
            this._status = document.querySelector('#status');
            this._send = document.querySelector('#message-send');
            this._input = document.querySelector('#message-input');
            this.game = null;
        }

        init(game) {
            this.game = game;
            this._clean.addEventListener('click', () => {
                this._msg.innerHTML = '';
            });
            this._switch.addEventListener('click', (e) => {
                if (e.target.innerText === '开启') {
                    this.on();
                } else {
                    this.off();
                }
            });
            this._send.addEventListener('click', () => {
                $.post('/g/cmd',
                    {data: this._input.value},
                    (resp) => {
                        console.log(resp);
                    }
                );
            });
        };

        on() {
            this.game.on();
            this._switch.innerText = '关掉';
            this._status.classList.add('working');
        }

        off() {
            this.game.off();
            this._switch.innerText = '开启';
            this._status.classList.remove('working');
        }

        log(log) {
            this._msg.innerHTML = '<li>' + log + '</li>' + this._msg.innerHTML;
        }
    }

    class Game {
        constructor() {
            this._ready = $('#game-action .ready');
            this._cancelReady = $('#game-action .cancel-ready');
            this.es = null;

            this.init();

            this.cmdQueue = new CommandQueue();
        }

        init() {
            this._ready.on('click', (e) => {
                Cmd.send({
                    cmd: 'READY',
                    params: [],
                });
            });
            this._cancelReady.on('click', (e) => {
                Cmd.send({
                    cmd: 'UNREADY',
                    params: [],
                });
            });
            let table = $('#game-table');
            let panel = $('#sgs-player-panel');
            table.on('click', '.sgs-player:not(.sgs-dead) .sgs-player-card', (e) => {
                if ([WAITING_FOR.SOMETHING, WAITING_FOR.TARGET].includes(Cmd.waitingTag)) {
                    $(e.currentTarget).toggleClass(selectedPlayerClass);
                }
            });
            table.on('click', '.sgs-confirm-action a', (e) => {
                let el = $(e.currentTarget);
                let cmd = el.attr('cmd');
                el.parents('.alert').alert('close');
                Cmd.send({
                    cmd: cmd,
                    params: [],
                });
            });
            panel.on('click', '#sgs-card-panel .sgs-card', (e) => {
                if ([WAITING_FOR.SOMETHING, WAITING_FOR.CARD].includes(Cmd.waitingTag)) {
                    $(e.currentTarget).toggleClass(selectedCardClass);
                }
                if (WAITING_FOR.PLAY === Cmd.waitingTag) {
                    let pks = [$(e.currentTarget).attr('pk')];
                    Cmd.send({
                        cmd: 'CARD',
                        params: pks,
                    });
                }
            });
            panel.on('click', '.sgs-action-ok', (e) => {
                let pks = [];
                if ([WAITING_FOR.SOMETHING, WAITING_FOR.CARD].includes(Cmd.waitingTag)) {
                    $('#sgs-card-panel .sgs-card.sgs-card-selected').each(
                        (i, el) => {
                            pks.push($(el).attr('pk'));
                            $(el).removeClass(selectedCardClass);
                        }
                    );
                    Cmd.send({
                        cmd: 'CARD',
                        params: pks,
                    });
                } else if ([WAITING_FOR.SOMETHING, WAITING_FOR.TARGET].includes(Cmd.waitingTag)) {
                    $('#game-table .sgs-player-selected').each((i, el) => {
                        pks.push($(el).parents('[pk]').attr('pk'));
                        $(el).removeClass(selectedPlayerClass);
                    });
                    Cmd.send({
                        cmd: 'TARGET',
                        params: pks,
                    });
                }
            });
            panel.on('click', '.sgs-skill-enabled', (e) => {
                let pk = $(e.currentTarget).attr('pk');
                Cmd.send({
                    cmd: 'SKILL',
                    params: [pk],
                });
            });

            panel.on('click', '.sgs-action-cancel', (e) => {
                Cmd.send({
                    cmd: 'CANCEL',
                    params: [],
                });
            });
            panel.on('click', '.sgs-action-pass', (e) => {
                Cmd.send({
                    cmd: 'PASS',
                    params: [],
                });
            });
        }

        on() {
            const cmdQueue = this.cmdQueue;

            $.get('/g', (resp) => {
                dbg.log(resp);
                // 1. 声明EventSource
                this.es = new EventSource('/g/msg');
                // 2. 监听数据
                this.es.onmessage = function (e) {
                    let items = e.data.split(' ');
                    let marker = items[0].substr(0, 1);
                    let cmd = items[0].substr(1);
                    let params = items.slice(1);

                    // dbg.log(`CMD: ${cmd} Params: ${params}`);
                    if (cmd !== 'HB') {
                        dbg.log(e.data);
                        cmdQueue.publish(cmd.toLowerCase(), params, marker);
                    }
                };
                this.es.onerror = function (e) {
                    $.get('/g');
                };
            });
        }

        off() {
            this.es.close();
        }
    }

    $(document).ready(() => {
        dbg = new Debug();
        const game = new Game();
        dbg.init(game);
        dbg.on();
    });

</script>

</body>
</html>
