<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-reboot.css"/>
    <link rel="stylesheet" href="static/jquery-ui-1.12.1/jquery-ui.css"/>
    <link rel="stylesheet" href="static/font-awesome/css/fontawesome-all.css"/>

    <link rel="stylesheet" href="stylesheets/index.css"/>
    <link rel="stylesheet" href="stylesheets/icons.css"/>

    <script src="static/jquery-3.3.1.js"></script>
    <script src="static/popper.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.js"></script>
    <script src="static/mustache.js"></script>
    <script src="static/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="static/jquery.toaster.js"></script>
</head>
<body>

<section id="game-action">
    <button class="ready btn btn-outline-primary btn-sm d-none">Ready</button>
    <button class="cancel-ready btn btn-outline-primary btn-sm d-none">Cancel Ready</button>
    <!--<button class="quit btn btn-outline-primary btn-sm">Quit</button>-->
</section>

<section id="game" class="d-flex">
    <section id="game-table">
        <div class="top sgs-cl-children card-group">
        </div>
        <div class="middle card-group">
            <div id="sgs-table">
                <div id="sgs-popup-msg" class="h-100" style="display: none;">
                    <div class="card w-100 h-100 border-0">
                        <div class="sgs-popup-msg-header card-header p-1 text-center invisible"></div>
                        <div class="sgs-popup-msg-body card-body card-body p-1 d-flex justify-content-center align-items-center"></div>
                        <div class="sgs-popup-msg-footer card-footer p-1 text-center invisible"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sgs-player-panel" class="bottom mt-2 d-flex flex-row align-items-stretch position-relative">
        </div>
        <div id="sgs-table-modal" class="card border-warning shadow" style="display: none;">
            <div class="sgs-table-modal-title card-header"></div>
            <div class="card-body d-flex align-items-stretch">
                <div id="sgs-candidate-panel"
                     class="sgs-cl-children position-relative w-100 d-inline-flex justify-content-around align-items-center"></div>
            </div>
            <div class="sgs-table-modal-footer card-footer d-none">
                <button class="sgs-action sgs-table-modal-ok btn btn-primary float-right disabled" waiting-tag="CARD_CANDIDATE">OK</button>
            </div>
        </div>
    </section>
    <section id="game-message" class="flex-grow-1">
        <ul id="sgs-message-list" class="sgs-cl-children d-block w-100">
        </ul>
    </section>
</section>

<div class="">
    <div class="form-row align-items-center">
        <div class="col-sm-10 my-1">
            <input type="text" id="message-input" class="form-control form-control-sm"/>
        </div>
        <div class="col-sm-2 my-1">
            <button class="btn btn-sm btn-primary" id="message-send">Send</button>
        </div>
    </div>
</div>

<div id="status"></div>
<button id="switch">开启</button>
<button id="clean">清空</button>
<ol id="msg"></ol>

<script src="client/constants.js"></script>
<script src="client/templates.js"></script>
<script src="client/cmd.js"></script>
<script src="client/index.js"></script>

</body>
</html>
